---
import "../css/style.css";
import "../plugins/bootstrap/bootstrap.min.css";
import "../plugins/themify-icons/themify-icons.css";
import "../plugins/slick/slick.css";

import logo from "../img/imgjuan/logo-unah.png";

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset=""/>
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="icon" type="image/svg+xml" href={logo} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<script hoist>
	import "../js/script";
	import "../plugins/jQuery/jquery.min.js";
	import "../plugins/bootstrap/bootstrap.min.js";
	import "../plugins/slick/slick.min.js";
	import "../plugins/instafeed/instafeed.min.js";
</script>



