<!-- The Modal -->
<div class="modal fade" data-backdrop="static" id="editNoticiaModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h2>Detalles de la noticia</h2>
                <button type="button" class="close" onclick="cerrar()">&times;</button>
            </div>
            <form role="form" id="editNoticiasForm">
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3>Datos de la noticia</h3>
                                </div>
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                          <label for="titulo">Titulo</label>
                                          <input
                                            type="text"
                                            class="form-control"
                                            id="editTitulo"
                                            placeholder="Titulo"
                                            required
                                          />
                                        </div>
                                        <div class="form-group col-md-12">
                                          <label for="descripcion">Descripcion</label>
                                          <textarea
                                            class="form-control"
                                            id="editDescripcion"
                                            rows="4"
                                            placeholder="Descripcion"></textarea>
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <label for="noticia">Noticia</label>
                                        <textarea
                                          class="form-control"
                                          id="editNoticia"
                                          rows="20"
                                          placeholder="Noticia"
                                          required
                                          ></textarea>
                                      </div>
                                      <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="img">Agregue imagen</label>
                                            <input type="text" class="form-control" id="editImg" placeholder="url img" required>
                                        </div>
                                        <div class="form-group col-md-4">
                                          <label for="fecha">Fecha</label>
                                          <input type="date" class="form-control" id="editFecha" required/>
                                        </div>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="cerrar()"><i
                            class="fas fa-times-circle"></i> Cerrar</button>
                    <button type="submit" id="editar" class="btn btn-success"><i class="fas fa-pen"></i> Editar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script is:inline>

</script>