---
import CardNote from "./CardNote.astro";
import Cardsmall from "./Card.astro";
---

<div class="container p-3">
  <CardNote />
  <div class="row">
    <h3>Noticias relacionadas</h3>
  </div>
  <div class="row">
    <div class="col">
      <Cardsmall
        src="https://blogs.unah.edu.hn/assets/unahvs/blog/6080/_resampled/CroppedFocusedImageWzc1MCw0NTAsInkiLDU2XQ/1.jpg"
        fecha="Octubre 7, 2022"
        href="#"
        title="Participacion de proyectos"
        body="Durante 2021, la Universidad Nacional Autónoma de Honduras en el Valle de Sula (UNAH-VS) ha tomado iniciativa en varios proyectos para el bienestar de la comunidad universitaria y población hondureña en general, logrando que este año pase a la historia a pesar de la pandemia por el COVID-19."
      />
    </div>
    <div class="col">
      <Cardsmall
        src="https://presencia.unah.edu.hn/assets/Uploads/DIEGO__FillWzg0MCw1NTBd.jpeg"
        fecha="Octubre 7, 2022"
        href="#"
        title="Excelencia academica"
        body="Durante 2021, la Universidad Nacional Autónoma de Honduras en el Valle de Sula (UNAH-VS) ha tomado iniciativa en varios proyectos para el bienestar de la comunidad universitaria y población hondureña en general, logrando que este año pase a la historia a pesar de la pandemia por el COVID-19."
      />
    </div>
    <div class="col">
      <Cardsmall
        src="https://blogs.unah.edu.hn/assets/unahvs/blog/_resampled/CroppedFocusedImageWzc1MCw0NTAsInkiLDI1XQ/IMG-7596.JPG"
        fecha="Octubre 7, 2022"
        href="#"
        title="Catedraticos Universitarios"
        body="Durante 2021, la Universidad Nacional Autónoma de Honduras en el Valle de Sula (UNAH-VS) ha tomado iniciativa en varios proyectos para el bienestar de la comunidad universitaria y población hondureña en general, logrando que este año pase a la historia a pesar de la pandemia por el COVID-19."
      />
    </div>
    <div class="col">
      <Cardsmall
        src="https://presencia.unah.edu.hn/assets/Uploads/DIEGO__FillWzg0MCw1NTBd.jpeg"
        fecha="Octubre 7, 2022"
        href="#"
        title="Excelencia academica"
        body="Durante 2021, la Universidad Nacional Autónoma de Honduras en el Valle de Sula (UNAH-VS) ha tomado iniciativa en varios proyectos para el bienestar de la comunidad universitaria y población hondureña en general, logrando que este año pase a la historia a pesar de la pandemia por el COVID-19."
      />
    </div>
  </div>
</div>
