---
export interface Props {
	header: string;
}

const { header } = Astro.props;
---


<div class="card fondocard">
	<strong><div style="color:rgb(255,204,0);" class="card-header">{header}</div></strong>
	<div class="card-body">
        <slot />
	</div>
</div>
