<div class="p-3">
  <div class="card">
    <img
      src="https://blogs.unah.edu.hn/assets/unahvs/blog/6090/01.jpg"
      class="card-img-top"
      alt="..."
    />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci saepe
    </p>
  </div>
</div>
