<div class="card mb-3 border-0" style="min-width: 500px;">
  <div class="row g-0">
    <div class="col-md-4">
      <div
        id="carouselExampleSlidesOnly"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner p-1">
          <div class="carousel-item active">
            <img
              src="https://presencia.unah.edu.hn/assets/Uploads/a7-v2__FillWzg0MCw1NTBd.jpg"
              class="d-block w-100 rounded-3"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="https://presencia.unah.edu.hn/assets/galleryimages/a3.jpg"
              class="d-block w-100 rounded-3"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="https://presencia.unah.edu.hn/assets/galleryimages/a4.jpg"
              class="d-block w-100 rounded-3"
              alt="..."
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 p-4 fondocard">
      <div class="card-body">
        <h5 class="card-title text-light ps-3">Card title</h5>
        <p class="card-text text-light ps-3">
          La Universidad Nacional Autónoma de Honduras en el Valle de Sula
          (UNAH-VS) inauguró este viernes 17 de diciembre el muro perimetral,
          portal de acceso y obras complementarias luego de transcurrir cuatro
          años de este proyecto.
        </p>
      </div>
    </div>
  </div>
</div>
