---
import Card from "./Card.astro";
---
<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h3 class="mb-3">Noticias del dia</h3>
            </div>
            <div class="col-12">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <Card
                                    src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d"
                                    fecha="Octubre 7, 2022"
                                    href="#"
                                    title="Titulo"
                                    body="With supporting text below as a natural lead-in to additional content."
                                />
                            </div>
                            <div class="col-md-4 mb-3">
                                <Card
                                    src="https://images.unsplash.com/photo-1517760444937-f6397edcbbcd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=42b2d9ae6feb9c4ff98b9133addfb698"
                                    fecha="Octubre 7, 2022"
                                    href="#"
                                    title="Titulo"
                                    body="With supporting text below as a natural lead-in to additional content."
                                />
                            </div>
                            <div class="col-md-4 mb-3">
                                <Card
                                    src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3d2e8a2039c06dd26db977fe6ac6186a"
                                    fecha="Octubre 7, 2022"
                                    href="#"
                                    title="Titulo"
                                    body="With supporting text below as a natural lead-in to additional content."
                                />
                            </div>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <Card
                                    src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d"
                                    fecha="Octubre 7, 2022"
                                    href="#"
                                    title="Titulo"
                                    body="With supporting text below as a natural lead-in to additional content."
                                />
                            </div>
                            <div class="col-md-4 mb-3">
                                <Card
                                    src="https://images.unsplash.com/photo-1517760444937-f6397edcbbcd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=42b2d9ae6feb9c4ff98b9133addfb698"
                                    fecha="Octubre 7, 2022"
                                    href="#"
                                    title="Titulo"
                                    body="With supporting text below as a natural lead-in to additional content."
                                />
                            </div>
                            <div class="col-md-4 mb-3">
                                <Card
                                    src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3d2e8a2039c06dd26db977fe6ac6186a"
                                    fecha="Octubre 7, 2022"
                                    href="#"
                                    title="Titulo"
                                    body="With supporting text below as a natural lead-in to additional content."
                                />
                            </div>
                        </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>