<footer style="background-color:rgb(0,51,153);" class="text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <div class="row">
        <div class="col">
          <a style="color:rgb(255,204,0);" class="nav-link" href="#!">Nosotros</a>
        </div>
        <div class="col">
          <!-- Facebook -->
          <a
            class="btn btn-primary"
            style="background-color: #3b5998;"
            href="https://www.facebook.com/unahvalledesula"
            role="button"
            ><i class="fa fa-facebook-f"></i>
          </a>

          <!-- Twitter -->
          <a
            class="btn btn-primary"
            style="background-color: #55acee;"
            href="#!"
            role="button"
            ><i class="fa fa-twitter"></i>
          </a>

          <!-- Instagram -->
          <a
            class="btn btn-primary"
            style="background-color: #ac2bac;"
            href="https://www.instagram.com/unahvs_oficial/"
            role="button"
            ><i class="fa fa-instagram"></i>
          </a>
        </div>
        <div class="col">
          <a style="color:rgb(255,204,0);" class="nav-link" href="https://www.unah.edu.hn/" target="_blank"><img src="../../public/imgjuan/logo-unah.png" style="height:50px;"></a>
        </div>
      </div>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="#">NOTI-UNAH</a>
  </div>
  <!-- Copyright -->
</footer>


