---
import logo from "../img/logo-unah-blanco.png";
---

<header class="navigation fixed-top" style="background-color:rgb(0,51,153);">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-white">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
      aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand order-1" href="/">
        <img
          class="img-fluid"
          width="80px"
          src={logo}
          alt="NOTI-UNAH"
        />
      </a>
      <div
        class="collapse navbar-collapse text-center order-lg-2 order-3"
        id="navigation">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Inicio</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="/Fechas">Fechas Academicas</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="/Academico">Academico</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Cientifico">Cientifico</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Deportes">Deporte</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Cultural">Cultural</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Social">Social</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Ingresar</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
