<header class="py-5 fondo bg-light border-bottom">
  <div class="container">
    <div class="text-center my-5">
      <h1 class="fw-bolder">NOTI-UNAH</h1>
      <p class="lead mb-0">Mantente informado de todas las actividades</p>
    </div>
  </div>
</header>
