<nav class="navbar navbar-expand-lg navbar-dark bg-info py-0 fixed-top">
    <a class="navbar-brand" href="/panel/Panel">Panel Administrativo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="side-bar">
            <li class="active">
                <a href="/panel/Panel">
                    <i class="fas fa-tachometer-alt fa-fw"></i>
                    Panel
                </a>
            </li>
            <li>
                <a href="/panel/Noticias">
                    <i class="fa-solid fa-file text-primary"></i>
                    Noticias
                </a>
            </li>
            <li>
                <a href="/panel/NewNoticias">
                    <i class="fa-solid fa-file-circle-plus text-success"></i>
                    Nuevas Noticias
                </a>
            </li>

            <li>
                <a href="/panel/EditNoticias">
                    <i class="fa-solid fa-file-pen text-warning"></i>
                    Editar Noticias
                </a>
            </li>

            <li>
                <a href="/panel/DelNoticias">
                    <i class="fa-solid fa-file-circle-minus text-danger"></i>
                    Eliminar Noticias
                </a>
            </li>

            <hr>
            
            <li>
                <a href="/login">
                    <i class="fa-solid fa-right-from-bracket text-danger"></i>
                    Salir
                </a>
            </li>
        </ul>

    </div>
</nav>