<section class="content">
    <h1>Panel Administrativo</h1>
    <div class="row mt-4">
        <div class="col-sm-3">
            <div class="row no-gutters shadow">
                <div class="col-auto bg-primary text-white p-4 d-flex align-items-center">
                    <a href="/panel/Noticias" class="text-white">
                        <i class="fa-solid fa-file"></i>
                    </a>
                </div>
                <a href="/panel/Noticias" class="col bg-whit text-black btn rounded-0 pt-4">
                    <span class="lead">
                        Noticias
                    </span>
                </a>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="row no-gutters shadow">
                <div class="col-auto bg-success text-white p-4 d-flex align-items-center">
                    <a href="/panel/NewNoticias" class="text-white">
                        <i class="fa-solid fa-file-circle-plus"></i>
                    </a>
                </div>
                <a href="/panel/NewNoticias" class="col bg-whit text-black btn rounded-0 pt-4">
                    <span class="lead">
                        Agregar Noticias
                    </span>
                </a>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="row no-gutters shadow">
                <div class="col-auto bg-warning text-white p-4 d-flex align-items-center">
                    <a href="/panel/EditNoticias" class="text-white">
                        <i class="fa-solid fa-file-pen"></i>
                    </a>
                </div>
                <a href="/panel/EditNoticias" class="col bg-whit text-black btn rounded-0 pt-4">
                    <span class="lead">
                        Editar Noticias
                    </span>
                </a>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="row no-gutters shadow">
                <div class="col-auto bg-danger text-white p-4 d-flex align-items-center">
                    <a href="/panel/DelNoticias" class="text-white">
                        <i class="fa-solid fa-file-circle-minus"></i>
                    </a>
                </div>
                <a href="/panel/DelNoticias" class="col bg-whit text-black btn rounded-0 pt-4">
                    <span class="lead">
                        Eliminar Noticias
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>