
<section class="content d-flex justify-content-between">
  <div class="container">
    <form id="nuevaNoticia">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="titulo">Titulo</label>
          <input
            type="text"
            class="form-control"
            id="titulo"
            placeholder="Titulo"
            required
          />
        </div>
        <div class="form-group col-md-12">
          <label for="descripcion">Descripcion</label>
          <textarea
            class="form-control"
            id="descripcion"
            rows="4"
            placeholder="Descripcion"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label for="noticia">Noticia</label>
        <textarea
          class="form-control"
          id="noticia"
          rows="20"
          placeholder="Noticia"
          required
          ></textarea>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
            <label for="img">Agregue imagen</label>
            <input type="text" class="form-control" id="img" placeholder="url img" required>
        </div>
        <div class="form-group col-md-4">
          <label for="fecha">Fecha</label>
          <input type="date" class="form-control" id="fecha" required/>
        </div>
      </div>
      <button type="submit" class="btn btn-success"><i class="fa-solid fa-circle-plus"></i> agregar</button>
    </form>
  </div>
</section>

<script is:inline>
document.getElementById("nuevaNoticia").addEventListener("submit", (e) => {
  e.preventDefault();

  let nuevaNoticia = {
    title: document.getElementById("titulo").value,
    descr: document.getElementById("descripcion").value,
    cuerpo: document.getElementById("noticia").value,
    fecha: document.getElementById("fecha").value,
    img: document.getElementById("img").value,
  };

  fetch("http://127.0.0.1:8000/", {
            method: "POST",
            body: JSON.stringify(nuevaNoticia),
            headers: {
              "Content-Type": "application/json",
            },
          })
          .then((res) => res.json())
          .then(data => {
            if (data) {
                location.reload();
            }
          })
});
</script>
