---
import Card from "./Card.astro";
import Cardwidgets from "./Cardwidgets.astro";
---

<section class="p-3">
  <div class="container">
    <div class="row">
      <!-- Blog entries-->
      <div class="col-lg-7">
        <!-- Featured blog post-->
        <div class="mb-4">
          <Card
            src="https://presencia.unah.edu.hn/assets/Uploads/FUBag1VWIAAsAq7.jpg"
            fecha="Octubre 7, 2022"
            href="#"
            title="Representantes de la FEUH visitan la Universidad de El Salvador"
            body=""
          />
        </div>
        <!-- Nested row for non-featured blog posts-->
        <div class="row">
          <div class="col-lg-6">
            <!-- Blog post-->
            <div class="mb-4">
              <Card
                src="https://presencia.unah.edu.hn/assets/Uploads/processed-0e953a64-9292-439d-95d2-989c065df2fa_VDbFUQId.jpeg"
                fecha="Octubre 7, 2022"
                href="#"
                title="Calendario Universitario"
                body="With supporting text below as a natural lead-in to additional content."
              />
            </div>
            <!-- Blog post-->
            <div class="mb-4">
              <Card
                src="https://presencia.unah.edu.hn/assets/Uploads/patitas-portada.jpg"
                fecha="Octubre 7, 2022"
                href="#"
                title="Patitas UNAH lleva alimentos y medicina a gatos y perros en situación de albergue"
                body="El grupo de rescate animal Patitas UNAH se hizo presente en los albergues de la Escuela Agustín Alonso e Instituto San Pablo con el fin de atender a la comunidad canina y felina"
              />
            </div>
          </div>
          <div class="col-lg-6">
            <!-- Blog post-->
            <div class="mb-4">
              <Card
                src="https://presencia.unah.edu.hn/assets/Uploads/Sistema-de-Admision-1-v3.jpg"
                fecha="Octubre 7, 2022"
                href="#"
                title="Aplicacion de PAA"
                body="With supporting text below as a natural lead-in to additional content."
              />
            </div>
            <!-- Blog post-->
            <div class="mb-4">
              <Card
                src="https://presencia.unah.edu.hn/assets/Uploads/psicologia-conductual.jpg"
                fecha="Octubre 7, 2022"
                href="#"
                title="Experta en psicología conductual entrena a docentes de la UNAH"
                body="En conmemoración del Día del Maestro, la Dirección de Docencia de la Universidad Nacional Autónoma de Honduras (UNAH) realizó este jueves 29 de septiembre la conferencia virtual Regulación emocional en los espacios de aprendizaje"
              />
            </div>
          </div>
        </div>
      </div>
      <!-- Side widgets-->
      <div class="col-lg-5">
        <!-- Search widget-->
        <div class="mb-4">
          <Cardwidgets header="Buscar">
            <div class="input-group">
              <input
                class="form-control"
                type="text"
                placeholder="Buscar..."
                aria-label="Buscar..."
                aria-describedby="button-search"
              />
              <button class="btn btn-primary" id="button-search" type="button"
                >Ir</button
              >
            </div>
          </Cardwidgets>
        </div>
        <!-- Categories widget-->
        <div class="mb-4">
          <Cardwidgets header="Categorias">
            <div class="row">
              <div class="col-sm-6">
                <ul class="list-unstyled mb-0">
                  <li><a style="color:rgb(255,204,0);" href="Fechas">Fechas Academicas</a></li>
                  <li><a style="color:rgb(255,204,0);" href="Academico">Academico</a></li>
                  <li><a style="color:rgb(255,204,0);" href="Cientifico">Cientifico</a></li>
                </ul>
              </div>
              <div class="col-sm-6">
                <ul class="list-unstyled mb-0">
                  <li><a style="color:rgb(255,204,0);" href="Deportes">Deportes</a></li>
                  <li><a style="color:rgb(255,204,0);" href="Cultural">Cultural</a></li>
                  <li><a style="color:rgb(255,204,0);" href="Social">Social</a></li>
                </ul>
              </div>
            </div>
          </Cardwidgets>
        </div>
        <!-- Side widget-->
        <div class="mb-4">
          <Card
            src="https://presencia.unah.edu.hn/assets/Uploads/juntaaaaportada.jpg"
            fecha="Octubre 7, 2022"
            href="#"
            title="De manera oficial, la UNAH será sede de la Junta Nominadora"
            body="La Junta Nominadora, responsable de la proposición de candidatos a magistrados de la Corte Suprema de Justicia (CSJ), en reunión con el rector Francisco J. Herrera Alvarado"
          />
        </div>
        <div class="mb-4">
          <Card
            src="https://presencia.unah.edu.hn/assets/Uploads/ciudad-blanca.jpeg"
            fecha="Octubre 7, 2022"
            href="#"
            title="Película hondureña participa en Festival de Cine Italiano"
            body="Ciudad Blanca, del cineasta de origen miskito John Wood, es el 'short film' que representa a Honduras en RAM Film Festival Italia."
          />
        </div>
      </div>
    </div>
  </div>
</section>
