---
import Card from "./Card.astro";
import Cardwidgets from "./Cardwidgets.astro";
---

<section class="p-3">
  <div class="container">
    <div class="row">
      <!-- Blog entries-->
      <div class="col-lg-8">
        <!-- Featured blog post-->
        <div class="mb-4">
          <Card
            src="https://presencia.unah.edu.hn/assets/Uploads/unu.jpg"
            fecha="Octubre 7, 2022"
            href="#"
            title="Titulo"
            body="En octubre de 1947 fue emitida la Ley Orgánica de la Universidad que le dio formalidad a la enseñanza superior del país. En un primer momento no se tenía contemplado una proyección sistemática del quehacer universitario y fue hasta en 1969 que se crea el Departamento de Extensión con los programas: Cultura y Comunicación social, Educación Popular; Servicio Comunal Universitario y Educación Continua en la ciudad universitaria de Tegucigalpa. En 1976 se crea, en el Centro Universitario Regional de Norte, CURN, y, como consecuencia, la Unidad de Extensión Universitaria mediante Acta N° 300 del 19 de noviembre."
          />
        </div>
        <!-- Nested row for non-featured blog posts-->
        <div class="row">
          <div class="col-lg-6">
            <!-- Blog post-->
            <div class="mb-4">
              <Card
                src="https://presencia.unah.edu.hn/assets/Uploads/processed-0e953a64-9292-439d-95d2-989c065df2fa_VDbFUQId.jpeg"
                fecha="Octubre 7, 2022"
                href="#"
                title="Calendario Universitario"
                body="With supporting text below as a natural lead-in to additional content."
              />
            </div>
            <!-- Blog post-->
            <div class="mb-4">
              <Card
                src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg"
                fecha="Octubre 7, 2022"
                href="#"
                title="Titulo"
                body="With supporting text below as a natural lead-in to additional content."
              />
            </div>
          </div>
          <div class="col-lg-6">
            <!-- Blog post-->
            <div class="mb-4">
              <Card
                src="https://presencia.unah.edu.hn/assets/Uploads/Sistema-de-Admision-1-v3.jpg"
                fecha="Octubre 7, 2022"
                href="#"
                title="Aplicacion de PAA"
                body="With supporting text below as a natural lead-in to additional content."
              />
            </div>
            <!-- Blog post-->
            <div class="mb-4">
              <Card
                src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg"
                fecha="Octubre 7, 2022"
                href="#"
                title="Titulo"
                body="With supporting text below as a natural lead-in to additional content."
              />
            </div>
          </div>
        </div>
      </div>
      <!-- Side widgets-->
      <div class="col-lg-4">
        <!-- Search widget-->
        <div class="mb-4">
          <Cardwidgets header="Buscar">
            <div class="input-group">
              <input
                class="form-control"
                type="text"
                placeholder="Buscar..."
                aria-label="Buscar..."
                aria-describedby="button-search"
              />
              <button class="btn btn-primary" id="button-search" type="button"
                >Ir</button
              >
            </div>
          </Cardwidgets>
        </div>
        <!-- Categories widget-->
        <div class="mb-4">
          <Cardwidgets header="Categorias">
            <div class="row">
              <div class="col-sm-6">
                <ul class="list-unstyled mb-0">
                  <li><a href="#!">Deportes</a></li>
                  <li><a href="#!">Cientifico</a></li>
                  <li><a href="#!">Social</a></li>
                </ul>
              </div>
              <div class="col-sm-6">
                <ul class="list-unstyled mb-0">
                  <li><a href="#!">Academico</a></li>
                  <li><a href="#!">Generales</a></li>
                  <li><a href="#!">Principal</a></li>
                </ul>
              </div>
            </div>
          </Cardwidgets>
        </div>
        <!-- Side widget-->
        <div class="mb-4">
          <Card
            src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg"
            fecha="Octubre 7, 2022"
            href="#"
            title="Titulo"
            body="With supporting text below as a natural lead-in to additional content."
          />
        </div>
        <div class="mb-4">
          <Card
            src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg"
            fecha="Octubre 7, 2022"
            href="#"
            title="Titulo"
            body="With supporting text below as a natural lead-in to additional content."
          />
        </div>
        <div class="mb-4">
          <Cardwidgets header="Otra Cosa">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
              non neque, accusantium tempore quaerat aspernatur dolores nostrum?
              Ad illo quam voluptates perspiciatis animi aliquid ipsum. Debitis
              corrupti excepturi recusandae ipsum.
            </p>
          </Cardwidgets>
        </div>
      </div>
    </div>
  </div>
</section>
