---
import Card from "./Card.astro";
---
<section class="pt-3 pb-5">
    <div class="container-fluid">
        <div class="row">
                            <div class="col-md-3">
                                <Card
                                    src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d"
                                    fecha="Octubre 7, 2022"
                                    href="/Cientifico"
                                    title="Cientifico"
                                    body="With supporting text below as a natural lead-in to additional content."
                                />
                            </div>
                            <div class="col-md-3">
                                <Card
                                src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3d2e8a2039c06dd26db977fe6ac6186a"
                                fecha="Octubre 7, 2022"
                                href="/Cultural"
                                title="Cultural"
                                body="With supporting text below as a natural lead-in to additional content."
                                />
                            </div>
                            <div class="col-md-3">
                                <Card
                                    src="https://images.unsplash.com/photo-1517760444937-f6397edcbbcd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=42b2d9ae6feb9c4ff98b9133addfb698"
                                    fecha="Octubre 7, 2022"
                                    href="/Deportes"
                                    title="Deportivo"
                                    body="With supporting text below as a natural lead-in to additional content."
                                    />
                                </div>
                                <div class="col-md-3">
                                    <Card
                                    src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3d2e8a2039c06dd26db977fe6ac6186a"
                                    fecha="Octubre 7, 2022"
                                    href="/Social"
                                    title="Social"
                                    body="With supporting text below as a natural lead-in to additional content."
                                />
                            </div>

                        </div>
                        
                    </div>
</section>